<!DOCTYPE html>
<html>
<head>
  <title>BloggingApp</title>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container well">

		<div id="user_nav">
			<%= render 'layouts/navbar' %>
		</div>


<h1>My So Called Blog</h1>
<p class="alert"><%= flash[:alert] %></p>
<p class="notice"><%= flash[:notice] %></p>
<%= yield %>
</div>
	

</body>
</html>
